In [4]:
from pybaseball import schedule_and_record
import pandas as pd
import hvplot.pandas
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn import svm

In [5]:
mariners_data = schedule_and_record(2022, 'SEA')
mariners_data = mariners_data.set_index('Date')
mariners_data['Runs_Scored'] = mariners_data['R'].cumsum()
mariners_data['Runs_Allowed'] = mariners_data['RA'].cumsum()
mariners_data['RD'] = mariners_data['Runs_Scored'] - mariners_data['Runs_Allowed']
mariners_data = mariners_data[['Home_Away', 'W/L','W-L', 'R','RA', 'Rank', 'GB', 'D/N', 'Streak', 'Runs_Scored', 'Runs_Allowed', 'RD']]
mariners_data['W/L'] = mariners_data['W/L'].replace('W-wo', 'W')
mariners_data['W/L'] = mariners_data['W/L'].replace('L-wo', 'L')
mariners_data = mariners_data.drop(columns='GB')
#Replace W with 1 and L with 0
#Replace Home/Away @ with 0, Home with 1
#Replace D (Day) with 0 and N (night) with 1

mariners_data['W/L'] = mariners_data['W/L'].replace('W', '1')
mariners_data['W/L'] = mariners_data['W/L'].replace('L', '0')
mariners_data['Home_Away'] = mariners_data['Home_Away'].replace('@', '0')
mariners_data['Home_Away'] = mariners_data['Home_Away'].replace('Home', '1')
mariners_data['D/N'] = mariners_data['D/N'].replace('D', '0')
mariners_data['D/N'] = mariners_data['D/N'].replace('N', '1')
#Convert to Integer
mariners_data['W/L'] = mariners_data['W/L'].astype(int)
mariners_data['Home_Away'] = mariners_data['Home_Away'].astype(int)
mariners_data['D/N'] = mariners_data['D/N'].astype(int)
mariners_data['Win_Total'] = mariners_data['W/L'].cumsum()

In [6]:
mariners_data

,Home_Away,W/L,W-L,R,RA,Rank,D/N,Streak,Runs_Scored,Runs_Allowed,RD,Win_Total
Date,,,,,,,,,,,,
"Friday, Apr 8",0,1,1-0,2.0,1.0,2.0,0,1,2.0,1.0,1.0,1
"Saturday, Apr 9",0,1,2-0,4.0,3.0,1.0,0,2,6.0,4.0,2.0,2
"Sunday, Apr 10",0,0,2-1,4.0,10.0,2.0,0,-1,10.0,14.0,-4.0,2
"Monday, Apr 11",0,0,2-2,0.0,4.0,2.0,1,-2,10.0,18.0,-8.0,2
"Tuesday, Apr 12",0,0,2-3,2.0,3.0,3.0,0,-3,12.0,21.0,-9.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
"Sunday, Oct 2",1,0,87-71,3.0,10.0,2.0,0,-1,666.0,603.0,63.0,87
"Monday, Oct 3",1,0,87-72,3.0,4.0,2.0,1,-2,669.0,607.0,62.0,87
"Tuesday, Oct 4 (1)",1,1,88-72,7.0,6.0,2.0,0,1,676.0,613.0,63.0,88
"Tuesday, Oct 4 (2)",1,1,89-72,9.0,6.0,2.0,0,2,685.0,619.0,66.0,89
"Wednesday, Oct 5",1,1,90-72,5.0,4.0,2.0,0,3,690.0,623.0,67.0,90

In [11]:
mariners_data_2021 = schedule_and_record(2022, 'SEA')
mariners_data_2021 = mariners_data_2021.set_index('Date')
mariners_data_2021['Runs_Scored'] = mariners_data_2021['R'].cumsum()
mariners_data_2021['Runs_Allowed'] = mariners_data_2021['RA'].cumsum()
mariners_data_2021['RD'] = mariners_data_2021['Runs_Scored'] - mariners_data_2021['Runs_Allowed']
mariners_data_2021 = mariners_data_2021[['Home_Away', 'W/L','W-L', 'R','RA', 'Rank', 'GB', 'D/N', 'Streak', 'Runs_Scored', 'Runs_Allowed', 'RD']]
mariners_data_2021['W/L'] = mariners_data_2021['W/L'].replace('W-wo', 'W')
mariners_data_2021['W/L'] = mariners_data_2021['W/L'].replace('L-wo', 'L')
mariners_data_2021 = mariners_data_2021.drop(columns='GB')
#Replace W with 1 and L with 0
#Replace Home/Away @ with 0, Home with 1
#Replace D (Day) with 0 and N (night) with 1

mariners_data_2021['W/L'] = mariners_data_2021['W/L'].replace('W', '1')
mariners_data_2021['W/L'] = mariners_data_2021['W/L'].replace('L', '0')
mariners_data_2021['Home_Away'] = mariners_data_2021['Home_Away'].replace('@', '0')
mariners_data_2021['Home_Away'] = mariners_data_2021['Home_Away'].replace('Home', '1')
mariners_data_2021['D/N'] = mariners_data_2021['D/N'].replace('D', '0')
mariners_data_2021['D/N'] = mariners_data_2021['D/N'].replace('N', '1')
#Convert to Integer
mariners_data_2021['W/L'] = mariners_data_2021['W/L'].astype(int)
mariners_data_2021['Home_Away'] = mariners_data_2021['Home_Away'].astype(int)
mariners_data_2021['D/N'] = mariners_data_2021['D/N'].astype(int)
mariners_data_2021['Win_Total'] = mariners_data_2021['W/L'].cumsum()
mariners_data_2021

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pybaseball/team_results.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop('',1) #not a useful column
/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pybaseball/team_results.py:83: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop('Streak2',1)

,Home_Away,W/L,W-L,R,RA,Rank,D/N,Streak,Runs_Scored,Runs_Allowed,RD,Win_Total
Date,,,,,,,,,,,,
"Friday, Apr 8",0,1,1-0,2.0,1.0,2.0,0,1,2.0,1.0,1.0,1
"Saturday, Apr 9",0,1,2-0,4.0,3.0,1.0,0,2,6.0,4.0,2.0,2
"Sunday, Apr 10",0,0,2-1,4.0,10.0,2.0,0,-1,10.0,14.0,-4.0,2
"Monday, Apr 11",0,0,2-2,0.0,4.0,2.0,1,-2,10.0,18.0,-8.0,2
"Tuesday, Apr 12",0,0,2-3,2.0,3.0,3.0,0,-3,12.0,21.0,-9.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
"Sunday, Oct 2",1,0,87-71,3.0,10.0,2.0,0,-1,666.0,603.0,63.0,87
"Monday, Oct 3",1,0,87-72,3.0,4.0,2.0,1,-2,669.0,607.0,62.0,87
"Tuesday, Oct 4 (1)",1,1,88-72,7.0,6.0,2.0,0,1,676.0,613.0,63.0,88
"Tuesday, Oct 4 (2)",1,1,89-72,9.0,6.0,2.0,0,2,685.0,619.0,66.0,89
"Wednesday, Oct 5",1,1,90-72,5.0,4.0,2.0,0,3,690.0,623.0,67.0,90

In [10]:
astros_data = schedule_and_record(2022, 'HOU')
astros_data = astros_data.set_index('Date')
astros_data['Runs_Scored'] = astros_data['R'].cumsum()
astros_data['Runs_Allowed'] = astros_data['RA'].cumsum()
astros_data['RD'] = astros_data['Runs_Scored'] - astros_data['Runs_Allowed']
astros_data = astros_data[['Home_Away', 'W/L','W-L', 'R','RA', 'Rank', 'GB', 'D/N', 'Streak', 'Runs_Scored', 'Runs_Allowed', 'RD']]
astros_data['W/L'] = astros_data['W/L'].replace('W-wo', 'W')
astros_data['W/L'] = astros_data['W/L'].replace('L-wo', 'L')
astros_data = astros_data.drop(columns='GB')
#Replace W with 1 and L with 0
#Replace Home/Away @ with 0, Home with 1
#Replace D (Day) with 0 and N (night) with 1

astros_data['W/L'] = astros_data['W/L'].replace('W', '1')
astros_data['W/L'] = astros_data['W/L'].replace('L', '0')
astros_data['Home_Away'] = astros_data['Home_Away'].replace('@', '0')
astros_data['Home_Away'] = astros_data['Home_Away'].replace('Home', '1')
astros_data['D/N'] = astros_data['D/N'].replace('D', '0')
astros_data['D/N'] = astros_data['D/N'].replace('N', '1')
#Convert to Integer
astros_data['W/L'] = astros_data['W/L'].astype(int)
astros_data['Home_Away'] = astros_data['Home_Away'].astype(int)
astros_data['D/N'] = astros_data['D/N'].astype(int)
astros_data['Win_Total'] = astros_data['W/L'].cumsum()
astros_data

,Home_Away,W/L,W-L,R,RA,Rank,D/N,Streak,Runs_Scored,Runs_Allowed,RD,Win_Total
Date,,,,,,,,,,,,
"Thursday, Apr 7",0,1,1-0,3.0,1.0,1.0,1,1,3.0,1.0,2.0,1
"Friday, Apr 8",0,1,2-0,13.0,6.0,1.0,1,2,16.0,7.0,9.0,2
"Saturday, Apr 9",0,0,2-1,0.0,2.0,2.0,1,-1,16.0,9.0,7.0,2
"Sunday, Apr 10",0,1,3-1,4.0,1.0,1.0,0,1,20.0,10.0,10.0,3
"Tuesday, Apr 12",0,1,4-1,2.0,1.0,1.0,1,2,22.0,11.0,11.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
"Saturday, Oct 1",1,1,103-55,2.0,1.0,1.0,1,1,721.0,512.0,209.0,103
"Sunday, Oct 2",1,1,104-55,3.0,1.0,1.0,0,2,724.0,513.0,211.0,104
"Monday, Oct 3",1,0,104-56,0.0,3.0,1.0,1,-1,724.0,516.0,208.0,104
"Tuesday, Oct 4",1,1,105-56,10.0,0.0,1.0,1,1,734.0,516.0,218.0,105
"Wednesday, Oct 5",1,1,106-56,3.0,2.0,1.0,0,2,737.0,518.0,219.0,106

In [12]:
as_data = schedule_and_record(2022, 'OAK')
as_data = as_data.set_index('Date')
as_data['Runs_Scored'] = as_data['R'].cumsum()
as_data['Runs_Allowed'] = as_data['RA'].cumsum()
as_data['RD'] = as_data['Runs_Scored'] - as_data['Runs_Allowed']
as_data = as_data[['Home_Away', 'W/L','W-L', 'R','RA', 'Rank', 'GB', 'D/N', 'Streak', 'Runs_Scored', 'Runs_Allowed', 'RD']]
as_data['W/L'] = as_data['W/L'].replace('W-wo', 'W')
as_data['W/L'] = as_data['W/L'].replace('L-wo', 'L')
as_data = as_data.drop(columns='GB')
#Replace W with 1 and L with 0
#Replace Home/Away @ with 0, Home with 1
#Replace D (Day) with 0 and N (night) with 1

as_data['W/L'] = as_data['W/L'].replace('W', '1')
as_data['W/L'] = as_data['W/L'].replace('L', '0')
as_data['Home_Away'] = as_data['Home_Away'].replace('@', '0')
as_data['Home_Away'] = as_data['Home_Away'].replace('Home', '1')
as_data['D/N'] = as_data['D/N'].replace('D', '0')
as_data['D/N'] = as_data['D/N'].replace('N', '1')
#Convert to Integer
as_data['W/L'] = as_data['W/L'].astype(int)
as_data['Home_Away'] = as_data['Home_Away'].astype(int)
as_data['D/N'] = as_data['D/N'].astype(int)
as_data['Win_Total'] = as_data['W/L'].cumsum()
as_data

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pybaseball/team_results.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop('',1) #not a useful column
/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pybaseball/team_results.py:83: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop('Streak2',1)

,Home_Away,W/L,W-L,R,RA,Rank,D/N,Streak,Runs_Scored,Runs_Allowed,RD,Win_Total
Date,,,,,,,,,,,,
"Friday, Apr 8",0,0,0-1,5.0,9.0,3.0,0,-1,5.0,9.0,-4.0,0
"Saturday, Apr 9",0,0,0-2,2.0,4.0,4.0,0,-2,7.0,13.0,-6.0,0
"Sunday, Apr 10",0,1,1-2,4.0,1.0,3.0,0,1,11.0,14.0,-3.0,1
"Monday, Apr 11",0,1,2-2,13.0,2.0,2.0,1,2,24.0,16.0,8.0,2
"Tuesday, Apr 12",0,0,2-3,8.0,9.0,3.0,1,-1,32.0,25.0,7.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
"Saturday, Oct 1",0,0,56-102,1.0,5.0,5.0,0,-6,548.0,760.0,-212.0,56
"Sunday, Oct 2",0,1,57-102,10.0,3.0,5.0,0,1,558.0,763.0,-205.0,57
"Monday, Oct 3",1,1,58-102,5.0,4.0,5.0,1,2,563.0,767.0,-204.0,58
"Tuesday, Oct 4",1,1,59-102,2.0,1.0,5.0,1,3,565.0,768.0,-203.0,59
"Wednesday, Oct 5",1,1,60-102,3.0,2.0,5.0,0,4,568.0,770.0,-202.0,60